body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.panel {
  width: 960px;
  height: 960px;
  border: 1px solid black;
  padding: 5px;

  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  height: 100%;
}

.col {
  background-color: white;
  border: 1px black solid;
  margin: 1px;
  width: 100%;
  /* mouseover off */
  transition: background-color 1s ease-out;
}

.trail-black {
  background-color: black;
  transition: background-color 0s;
}

.trail-colorful {
  transition: background-color 0s;
}

.buttons button {
  width: 200px;
  height: 30px;
  border: none;
  background-color: beige;
}

.buttons button:hover {
  background-color: darkorange;
}

.stroke {
  font-size: 2em;
}